html,body,.sidebar,.pure-g
{
	height: 100%;
}

body
{
	width: 100%;
}

html,body
{

    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*#home,#education{
	width: 100%;
}*/

.projectslist{
	text-align: center;
	padding: 10px;
}
.googleplay, .itchio{
	width: 25%;
	text-align: center;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 10px;
	display: inline-block;
	margin: 5px;
}

.gotopage{
	height: 30px;
	background-color: #FF0000;
	color: white;
}

.sidebar
{
	width: 150px;
	background-color: black;
	height: 100%;
	border: 0px;
	position: fixed;
	transition: left 0.5s;
	z-index: 9999;
    
}

.sidebar-heading
{
	#background-color: #79dbd7;
	#color: #FFF;
	background-color: #1f8dd6;
}


.pure-menu-item > a:hover
{
	background-color: #333;
}

.main-content
{
	background-color: #e5e5ff;
	overflow: scroll;
	margin-left: 150px;
	height: 100%;
	width: 100%;
	
}

.title
{
	background-image: url("Images/heading-background.jpeg");
	color: #666;
	height: 30%;
	width: 100%;
}

.title h1
{
	margin: 0px;
	padding-top: 50px;
	padding-left: 20px;
}

.title h3
{
	margin: 0px;
	margin-top: 0px;
	padding-left: 20px;
}

#pageContent
{
	height: 100%;
	width: 100%;
}

#photoContainer
{
	width: 30%;
}

#profile-photo
{
	margin-top: 10%;
	height: 75%;
	width: auto;
	border-radius: 100%;
}
.titleContainer
{
	letter-spacing: 0em;
	width: 70%;
}

.information-box
{
	border: 1px solid #999;
	margin: 3% 1% 0% 1%;
	border-radius: 10px;
	padding: 2% 1% 2% 1%;
	//background-color: #e5e5ff;

}

/*#education .information-text{
	font-weight: bold;
}*/

.hamburger-icon
{
	background-color: black;
	transition: left 0.5s;
	position: fixed;
	width: 40px;
	height: 40px;
	left: -150px;
	z-index: 9999;
}

.hamburger-icon div
{
	background-color: white;
	width: 30px;
    height: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 5px;
    border-radius: 20%;
    
}


#education,#experience,#projects,#contact
{
	position: fixed;
	top: 0px;
	left: 100%;
	width: 100%;
	transition: left 0.5s;
}


.active-menu
{
	left: 0px !important;
}

@media (max-width: 768px) {
	.sidebar
	{
		left: -150px;
	}

	.googleplay, .itchio{
		width: 90%;
	
	}

	.main-content
	{
		margin-left: 0px;
		max-width: 100%;
	}

	.title
	{
		height: 50%;
		text-align: center;
	}

	
	#profile-photo
	{
		height: 100%;
		width: auto;
		border-radius: 100%;
		margin: auto;
		vertical-align: middle;
		
	}
	#photoContainer
	{
		height: 60%;
		margin: auto;

	}
	.titleContainer
	{
		height: 40%;
		width: 100%;
		letter-spacing: 0em !important;
	}
	.hamburger-icon
	{
		left: 0px;
	}

	.active-hamburger-button
	{
		left: 150px !important;
	}
}

@media (max-width: 400px) {
	.title h3
	{
		margin: 0px;
		margin-top: 0px;
		padding-left: 0px;
	}

	.title h1
	{
		margin: 0px;
		padding-top: 25px;
		padding-left: 0px;
	}
	#photoContainer
	{
		margin:auto;
		height: 40%;


	}
	.titleContainer
	{
		height: 50%;
		margin: 2px;
	}
}

@media (max-width: 330px) {
	#photoContainer
	{
		margin:auto;
		height: 40%;
		margin-top: 5%;
	}
}